@media (min-width: 800px) {
    nav {
        display: inline-block;
        position: static;
    }
    nav li {
        display: inline-block;
        padding: 20px;
    }

    header label {
        display: none;
    }
}

@media (max-width: 1050px) {
    .carousel {
        flex-direction: column;
        align-items: center;
    }
}
