@font-face {
    font-family: "Rozha";
    src: url(/font/Rozha_One/RozhaOne-Regular.ttf);
}

@font-face {
    font-family: "Questrial";
    src: url(/font/Questrial/Questrial-Regular.ttf);
}


body {
    margin: 0px;
}

.header-logo {
    max-width: 150px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}

nav {
    background: #987554;
    display: none;
    position: fixed;
    right: 0px;
    top: 120px;
}

nav li {
    display: block;
    padding: 20px;
    padding-right: 50px;
}

#hamburger-menu {
    display: none;
}
.fas,
.fa-bars {
    color: #FFF;
    font-size: 25px;
}

#hamburger-menu:checked  ~ nav {
    display: block;
}

.current {
    text-decoration: underline;
}

.context {
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 20px;
    color: #fff;
    text-align: center;
}

header, 
footer {
    background-color: #987554;
}

header,
footer,
h1,
h2,
form {
    font-family: "Rozha", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
p {
    padding: 10px 30px;
    text-align: left;
}

a {
    text-decoration: none;
    color: #FFF;
}

a,
p {
    font-family: "Questrial",Verdana, Geneva, Tahoma, sans-serif;
}

.big-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.text-content {
    margin: 20px 50px;
}

.message {
    color: green;
    text-transform: uppercase;
    border-radius: 10px;
}

input,
textarea {
    background-color: #e5d3b396;
    border-radius: 5px;
    width: 250px;
    height: 40px;
}

#submit {
    background-color: #E5D3B3;
    border-radius: 10px;
    border: 10px;
    border-color: #664229;
    padding: 10px;
    text-transform: uppercase;
}