@font-face {
    font-family: "Rozha";
    src: url(/font/Rozha_One/RozhaOne-Regular.ttf);
}
@font-face {
    font-family: "Questrial";
    src: url(/font/Questrial/Questrial-Regular.ttf);
}
/* Global styles -> top of page  */
body {
    margin: 0px;
}

.header-logo {
    max-width: 150px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}
nav {
    background: #664229;
    display: none;
    position: fixed;
    right: 0px;
    top: 120px;
}
nav li {
    display: block;
    padding: 20px;
    padding-right: 50px;
}
.current {
    text-decoration: underline;
}

/* Hamburger */
#hamburger-menu {
    display: none;
}
.fas,
.fa-bars {
    color: #FFF;
    font-size: 25px;
}
#hamburger-menu:checked  ~ nav {
    display: block;
}

/* Global styles on mid- and bottom */
.context,
.contextHome {
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container a {
    color: #000;
    background-color: #E5D3B3;
    border-radius: 10px;
    border: 10px;
    border-color: #664229;
    padding: 10px;
    text-transform: uppercase;
}

.carousel {
    display: flex;
    flex-direction: row;
    padding: 50px;
}
.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0px;;
  }

.post img,
.carousel img,
.carouselBlog img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  height: auto;
  object-fit: cover;
}

/* Buttons */
.read-more,
.buttonLeft,
.buttonRight{
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #664229;
    color: #FFF;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .read-more:hover, 
  .buttonLeft:hover,
  .buttonRight:hover {
    background-color: #B99976;
}

/* Header/footer, headings etc. */
footer {
    padding: 20px;
    color: #fff;
    text-align: center;
}
header, 
nav,
footer {
    background-color: #664229;
}

header,
footer,
h1,
h2,
h3,
#submitMessage{
    font-family: "Rozha", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3 {
    text-align: center;
    
}

p {
    padding: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    color: #FFF;
}

a
form,
a,
p  {
    font-family: "Questrial",Verdana, Geneva, Tahoma, sans-serif;
}

.big-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    margin-top: 30px
}

.text-content,
.motivation {
    margin: 20px 50px;
    padding: 20px;
}

/* .form-error {
    display: none;
    color: red;
    font-size: 0.7rem;
    margin-top: 2px;
} */

/* Contact page styles */
input,
textarea {
    background-color: #e5d3b396;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    display: flex;
    flex-direction: row;
}

#submit {
    background-color: #E5D3B3;
    border-radius: 10px;
    border: 10px;
    border-color: #664229;
    padding: 10px;
    text-transform: uppercase;
    
}

#submitMessage {
    color: green;
    background-color: rgba(100, 205, 100, 0.217);
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px;
}